.image {
  overflow-y: hidden;
}

.containerInfo {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-family: "Mina", sans-serif;
  /* font-size: 1.5rem; */
}

.description {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.button {
  width: 6rem;
  border: solid black 0.1rem;
  transition: width 0.25s ease-in-out;
}

.buttonPoint {
  width: 0;
  height: 0;
  background-color: black;
  transition: transform 0.25s ease-out;
}

.text {
  font-size: 0.75rem;
  transition: transform 0.5s ease-out;
}

.button:hover {
  width: 6.5rem;
  border: solid black 0.1rem;
}

.button:hover > .buttonPoint {
  width: 0.25rem;
  height: 0.25rem;
  transform: scale(2);
}

.button:hover > .text {
  transform: translateX(0.2rem);
}

.cardSliderInfo {
  font-size: 1rem;
}

.sliderContainer {
  margin: 0rem;
  width: 100%;
}

.sliderBtn {
  width: 0.7rem !important;
  height: 0.7rem !important;
  border-radius: 100%;
  margin: 0 0.4rem !important;
  z-index: 1;
}

.sliderBtns {
  position: static !important;
  z-index: 1;
}

.price {
  top: 2%;
  right: 3%;
  background-color: #1b2638;
}

.priceText {
  font-size: small;
}

@media screen and (max-width: 767px) {
  .price {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .price {
    height: 3.5rem;
    width: 3.5rem;
  }
}
