/* .resaltada {
  opacity: 0.8;
  background-color: red;
} */

.resaltada {
  animation: resaltar 2s infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: ease 0.3;
}

.agregarP{
  background-color: #1b2638;
  font-size: .8rem;
}

.agregarP:hover{
  background-color: #d4af37;
  color: black;
}

@keyframes resaltar {
  0% {
    background-color: greenyellow;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: greenyellow;
  }
}
