.section_padding {
  padding: 0 4rem;
  background-color: #1b2638;
  font-family: "Roboto", sans-serif;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-logo {
  width: 200px;
  margin: -30px;
}

.sb_footer {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 0;
  /* margin: 2rem; */
}

.sb_footer-links_div {
  width: 120px;
  margin: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
}

.socialmedia .qr img {
  width: 90px;
  height: 90px;
  border-radius: 0;
  padding: 10px;

  margin-top: 42px;
  position: absolute;
  right: 124px;
}

@media screen and (max-width: 915px) {
  .socialmedia .qr img:nth-child() {
    display: none;
  }
  .sb_footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sb_footer-links_div {
    flex-basis: 100%;
    text-align: center;
  }
  .sb_footer-links_div:nth-child(4),
  .sb_footer-links_div:nth-child(2),
  .sb_footer-links_div:nth-child(3) {
    display: none;
  }
  .socialmedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .sb_footer-below {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

p {
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.socialmedia {
  display: flex;
  margin-top: -15px;
}

.socialmedia img {
  width: 30px;
  margin: 3px;
  border-radius: 50%;
  transition-property: outline-offset outline-color background-color;
  transition: 0.25s;
}

.socialmedia img:hover {
  outline-offset: 4px;
  animation: shake 0.25s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

.sb_footer-links_div h4 {
  font-size: 20px;
  line-height: 17px;
  margin-bottom: 1rem;
}

.v {
  text-decoration: none;
  color: #fff;
}

.v:hover {
  color: #d4af37;
}

.sb_footer-links_div p {
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

p {
  text-decoration: none;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
  color: #d4af37;
  width: 100%;
}

.sb_footer-below p {
  font-size: 15px;
  line-height: 13px;
  margin-left: 2rem;
}

hr {
  color: #d4af37;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sb_footer-copyright p {
  font-size: 15px;
  line-height: 15px;
  font-family: "Lato", sans-serif;
  justify-content: center;
}

@media screen and (max-width: 988px) {
  .socialmedia .qr img {
    display: none;
  }
  .sb_footer-links_div h1 {
    font-size: 44px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (max-width: 550px) {
  .sb_footer-links_div h1 {
    font-size: 44px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
  }

  .sb_footer-links div {
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }

  .sb_footer-btn {
    font-size: 14px;
    line-height: 20px;
  }

  .sb_footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .sb_footer-below-links {
    flex-direction: column;
  }

  .sb_footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
    font-family: "Lato", sans-serif;
  }
}

@media screnn and (max-width: 400px) {
  .sb_footer-padding h1 {
    font-size: 27px;
    line-height: 38px;
    font-family: "Roboto", sans-serif;
  }
}
